.our-team-section {
    background-color: var(--secondary-bg-color);
}

.our-team {
        
    &__header {
            font-size: 36px;
            line-height: 1.111;
            margin-bottom: 72px;
            text-align: center;
            letter-spacing: 0.02em;
            white-space: nowrap;
            color: var(--primary-text-color);
        }

        &__list {
            display: flex;
            justify-content: center;
            @media screen and (max-width: 1199px){
                flex-wrap: wrap;
            }

            @media screen and (min-width: 1200px) {
            }

                &__element-main {

                    width: 264px;
                    height: 428px;
                    
                    @media screen and (max-width: 767px) {
                        &:not(:last-child) {
                            margin-bottom: 72px;
                        }
                    }
                    
                        @media screen and (min-width: 768px) and (max-width: 1199px) {

                            &:nth-of-type(1n) {
                                margin-right: 24px;
                                margin-bottom: 72px;
                            }

                            &:nth-of-type(2n) {
                                margin-right: 0;
                                margin-bottom: 72px;
                            }

                            &:nth-of-type(3n) {
                                margin-right: 24px;
                                margin-bottom: 0;
                            }

                            &:nth-of-type(4n) {
                                margin-right: 0;
                                margin-bottom: 0;
                            }
                        }
                    
                        @media screen and (min-width: 1200px) {
                            margin-right: 24px;
                            margin-bottom: 0;
                        }

                        box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
                        border-radius: 0px 0px 4px 4px;
                        background-color: var(--primary-white-color);



                        .teammate-photo {
                            
                        }
                    }
        }

        &__work {

            &-main {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: var(--primary-text-color);
                }

                &-additional {
                        margin-top: 10px;
                        margin-bottom: 16px;
                        font-size: 16px;
                        line-height: 1.5;
                        text-align: center;
                        letter-spacing: 0.03em;
                        color: var(--secondary-text-color);
                }
        }

                &__text-padding {
                    padding: 32px 0px;
                }

                &__link {
                        height: 40px;
                        width: 40px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        background-color: var(--accent-secondary-color);
                        fill: var(--icon-second-color);
        
                        //transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                            //fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

                    &:hover,
                    &:focus {
                        //background-color: var(--hover-icon);
                    }
        
                    &:hover,
                    &:focus {
                        //fill: var(--primary-white-color);
                    }
                }

        &__list-for-icons {
            display: flex;
            justify-content: center;

            &__item:not(:last-child) {
                margin-right: 24px;
            }
        }

        &__link:hover .team-icon,
        &__link:focus .team-icon {
                    fill: var(--primary-white-color);
        }
    @extend .container
}
